# TODO Remove this file if the project is not an npm package
/.github/
/.vscode/
/dist/*.d.mts
/dist/*.d.cts
src/
test/
tests/
*.config.js
*.config.mjs
*.config.ts
*.tgz
.editorconfig
.gitattributes
.gitignore
tsconfig.json
