# TODO Remove this file if the project is not an npm package
/.github/
/.vscode/
src/
test/
tests/
*.config.js
*.config.mjs
*.config.ts
*.test.mjs
*.test.js
*.test.ts
*.tgz
.editorconfig
.gitattributes
.gitignore
tsconfig.json
pnpm-workspace.yaml
