[tools]
node = { version = "24" }

[tasks]
  [tasks.build]
  run = "tsdown"
  env = { NODE_ENV = "production" }

  [tasks.lint]
  run = [
    "tsc --noEmit",
    "eslint"
  ]

  [tasks.fix]
  run = "eslint --fix"

  [tasks.test]
  run = "vitest run"

  [tasks.clean]
  run = "git clean -dX --exclude=\"!mise.local.toml\" --force"

  [tasks.refresh]
  depends = [ "clean" ]
  run = [
    "rm --force ./pnpm-lock.yaml",
    "corepack enable",
    "corepack up",
    "mise install"
  ]

[hooks]
postinstall = [
  "corepack enable",
  "pnpm install",
]

[env]
_.path = "./node_modules/.bin"

[settings]
jobs = 8

# Required for hooks as of 2025.10
# https://mise.jdx.dev/hooks.html
experimental = true
